<div class="container">
  <div class="row">
    <div class=" text-center">
      <div class="">
        <p>

        </p>
      </div>


      <div class="col-sm-12 mainh">
        <h1>Number One Electronic Items Buyer in NYC</h1>
      </div>

      <hr/>

      <h4> Hours of Operation </h4>

      <p>12:00 am to 5:00 pm Sunday <br/>
        10:30 am to 6:30 pm Monday - Friday <br/>
        Closed Saturday</p>
    </div>

    <div class="text-center">


      <h2 class="map">Manhattan Location Suite 302</h2>
      <a class="btn-super center-block map-button" href="https://www.google.com/maps/place/71+W+47th+St,+New+York,+NY+10036+Suite+302">
        <i class="fa fa-map-marker"> </i> Full Screen
      </a>

      <p><iframe width="100%" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=71%20West%2047th%20Street%2C%20New%20York%2C%20NY%2C%20United%20States%20suite%20302&key=AIzaSyAG1JHhDDpKIublp2o1A107YHnRFEGQa7E"></iframe>
      </p>
    </div>
    <div class="text-center">
      <h2 class="map">Queens Location</h2>

      <a class="btn-super center-block map-button" href="https://www.google.com/maps/dir/Current+Location/8710+Lefferts+BLVD+Richmond+Hill+NY+11418">
        <i class="fa fa-map-marker"> </i> Full Screen
      </a>
      <p><iframe width="100%" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=8710%20Lefferts%20Blvd%2C%20Richmond%20Hill%2C%20NY%2C%20United%20States&key=AIzaSyAG1JHhDDpKIublp2o1A107YHnRFEGQa7E"></iframe>
      </p>
    </div>
    <div class="col-sm-12 text-center locations">
      <%= link_to 'sell electronics in Queens', root_path, :class => 'btn btn-lg btn-default' %>
      <%= link_to 'sell electronics in Broolkyn', root_path, :class => 'btn btn-lg btn-default' %>
      <%= link_to 'sell electronics in Manhattan', root_path, :class => 'btn btn-lg btn-default' %>
      <%= link_to 'sell electronics in Bronx', root_path, :class => 'btn btn-lg btn-default' %>
      <%= link_to 'sell electronics in New Jersey', root_path, :class => 'btn btn-lg btn-default' %>
      <%= link_to 'sell electronics in Staten Island', root_path, :class => 'btn btn-lg btn-default' %>
      <%= link_to 'sell electronics in Long Island', root_path, :class => 'btn btn-lg btn-default' %>
      <%= link_to 'sell electronics in Connecticut', root_path, :class => 'btn btn-lg btn-default' %>

    </div>
  </div>
</div>


