

<div class="row text-center mostpopular">
  <div class="col-sm-4">
    <%= link_to 'Sell MacBook Pro', root_path , :class => 'btn btn-lg btn-default'  %> <br/>
    <%= link_to 'Sell MacBook Air', root_path , :class => 'btn btn-lg btn-default' %> <br/>
    <%= link_to 'Sell iMac', root_path , :class => 'btn btn-lg btn-default' %> <br/>
    <%= link_to 'Sell Mac Mini', root_path , :class => 'btn btn-lg btn-default' %> <br/>
    <%= link_to 'Sell Mac Pro', root_path , :class => 'btn btn-lg btn-default' %> <br/>
    <%= link_to 'Sell PC', root_path , :class => 'btn btn-lg btn-default' %> <br/>
  </div>
  <div class="col-sm-4">
    <%= link_to 'Sell iPhone 6', root_path , :class => 'btn btn-lg btn-default' %> <br/>
    <%= link_to 'Sell iPhone 6 Plus', root_path , :class => 'btn btn-lg btn-default' %> <br/>
    <%= link_to 'Sell iPhone 5S', root_path , :class => 'btn btn-lg btn-default' %> <br/>
    <%= link_to 'Sell iPhone 5C', root_path, :class => 'btn btn-lg btn-default' %> <br/>
    <%= link_to 'Sell Galaxy S6 ', root_path, :class => 'btn btn-lg btn-default' %> <br/>
    <%= link_to 'Sell Galaxy S5', root_path, :class => 'btn btn-lg btn-default' %> <br/>
  </div>
  <div class="col-sm-4">
    <%= link_to 'Sell iPad Air 2', root_path, :class => 'btn btn-lg btn-default' %> <br/>
    <%= link_to 'Sell iPad Mini', root_path, :class => 'btn btn-lg btn-default' %> <br/>
    <%= link_to 'Sell Game Console', root_path, :class => 'btn btn-lg btn-default' %> <br/>
    <%= link_to 'Sell Camera', root_path, :class => 'btn btn-lg btn-default' %> <br/>
    <%= link_to 'Sell Apple Watch', root_path, :class => 'btn btn-lg btn-default' %> <br/>
    <%= link_to 'Sell Other Items', root_path, :class => 'btn btn-lg btn-default' %> <br/>
  </div>
</div>
